body {
    margin: 0 auto;
    background: #1B2534;
    font-family: "Roboto Light", sans-serif;
    max-width: 1000px;
    font-size: 18px;
}
input, select {
    padding: 13px 27px;
    border-radius: 18px;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.btn {
    padding: 13px 27px;
    border-radius: 18px;
    border: none;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    background-color: white;
    color: #1B2534;
}
.btn:hover {
    background-color: #CDA274;
    color: white;
}
.btn:active {

}
.tasks__content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
@media screen and (max-width: 485px) {
    .btn {
        padding: 7px 14px;
        border-radius: 9px;
        font-size: 12px;
    }
}