body {
    background: #1B2534;
    font-family: "Roboto Light", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}
input, select {
    width: 80%;
    padding: 13px 27px;
    border-radius: 18px;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.btn {
    padding: 13px 27px;
    border-radius: 18px;
    border: none;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    background-color: white;
    color: #1B2534;
}
.btn:hover {
    background-color: #CDA274;
    color: white;
}
.btn:active {

}
.btn-group {
    display: flex;
    column-gap: 15px;
}
form {
    padding: 30px;
}
@media screen and (max-width: 485px) {
    .btn, .select, input {
        padding: 7px 14px;
        border-radius: 9px;
        font-size: 12px;
    }
    input {
        padding: 7px 14px;
        border-radius: 9px;
        font-size: 12px;
    }
    form {
        padding: 15px;
    }
}